@model Book
@{
    Layout = "_Layout";
    ViewData["Title"] = Model.Title;
}
<div class="tm-main-content no-pad-b">

    <section class="row tm-item-preview">
        <div class="col-md-6 col-sm-12 mb-md-0 mb-5">
            <img src="@Model.ImageUrl" alt="Image" class="img-fluid tm-img-center-sm">
        </div>
        <div class="col-md-6 col-sm-12">
            <h2 class="tm-blue-text tm-margin-b-p">@Model.Title</h2>
            @* <p class="tm-margin-b-p">Suspendisse suscipit tortor eu nunc fermentum pellentesque. Donec vaius diam ut velit porttitor accumsan. Cras ac porttitor urna, in vehicula diam. Ut ultricies leo dapibus, facilisis justo vel, dignissim tortor.</p> *@
            @* <p class="tm-margin-b-p">Ut iaculis vel libero a auctor. Integer arcu orci, vaius id velit sed, lacinia venenatis felis. Integer in facilisis tortor. Vivamus facilisis mattis finibus. Vestibulum in aliquam nisl. Nunc pretium elementum posuere.</p> *@
            @* <p class="tm-margin-b-p">Nunc vulputate placerat pulvinar. Integer ornare, enim et vestibulum mattis, dolor lacus congue sapien, eget tempor sapien est ut mauris.</p> *@
            <p class="tm-blue-text tm-margin-b-s">Category: <b>@Model.BookCategory.Name</b></p>
            <p class="tm-blue-text tm-margin-b-s">Author: @Model.Author.Name</p>
            <p class="tm-blue-text tm-margin-b-s">Publisher: @Model.Publisher.Name</p>
            <p class="tm-blue-text tm-margin-b-s">CopyNumber: @Model.CopyNumber</p>
            @* <p class="tm-blue-text tm-margin-b-s">Views: 10,890</p> *@
            @* <p class="tm-blue-text tm-margin-b">Rating: <img src="img/star.png" alt="Star image"> <img src="img/star.png" alt="Star image"> <img src="img/star.png" alt="Star image"> <img src="img/star.png" alt="Star image"></p> *@
            @* <a href="#" class="tm-btn tm-btn-gray tm-margin-r-20 tm-margin-b-s">Preview</a> *@
            <!-- Go to www.addthis.com/dashboard to customize your tools --> 
            <div class="addthis_inline_share_toolbox_nthk"></div>
            <button onclick="AddToCart(this,@Model.Id)" class="tm-btn tm-btn-blue">Add To Cart</button>
        </div>
    </section>
</div>
@section Scripts
{
    <!-- Go to www.addthis.com/dashboard to customize your tools --> 
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60d1d96d606aec79"></script>
}
