@{
    ViewData["Title"] = "Books";
}

<div class="row">
    <div class="col">
        <div class="card">
            <!-- Card header -->
            <div class="card-header border-0">
                <h3 class="mb-0">Books</h3>
            </div>

            <div class="table-responsive">
                <table id="booksDT" class="table align-items-center table-flush">
                    <thead class="thead-light">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Creation Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody class="list">
                    </tbody>
                </table>
            </div>
            <div class="card-footer py-4">
                
            </div>
        </div>
    </div>
</div>

@section Styles
{
    <link href="../vendor/datatables.net-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet"/>
    <link href="../vendor/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css" rel="stylesheet"/>
    <link href="../vendor/datatables.net-select-bs4/css/select.bootstrap4.min.css" rel="stylesheet"/>
    <link href="../vendor/datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css" rel="stylesheet"/>
}

@section Scripts
{
    @* <script src="../vendor/jquery/dist/jquery.min.js"></script> *@

    <script src="../vendor/datatables.net/js/jquery.dataTables.min.js"></script>

    <script src="../vendor/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../vendor/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="../vendor/datatables.net-select-bs4/js/select.bootstrap4.min.js"></script>
    <script src="../vendor/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="responsive"></script>

    <script>  
      
        $(document).ready(function() {  
            $("#btn-new").attr("href", '@Url.Action("Create","Book")')
            var token = '@Html.AntiForgeryToken()';
            $("#booksDT").DataTable({  
                "processing": true, // for show progress bar    
                "serverSide": true, // for process server side    
                "filter": true, // this is for disable filter (search box)    
                "orderMulti": false, // for disable multiple column at once    
                "pagingType": "full_numbers",
                "ajax": {  
                    "url": "@Url.Action("LoadData", "Book")",  
                    "type": "POST",
                    "data": function ( d ) {
                            d.__RequestVerificationToken = $(token).val();
                        },
                    "datatype": "json"  
                },  
                "columnDefs": [{  
                    "targets": [0],  
                    "visible": false,  
                    "searchable": false  
                },
                // {"defaultContent": "-", "targets": "_all"}
                ],  
                "language": {
                    "paginate": {
                      "next": '<i class="fa fa-greater-than"></i>',
                      "previous": '<i class="fa fa-less-than"></i>',
                      "first": '<i class="fa fa-less-than"></i><i class="fa fa-less-than"></i>',
                      "last": '<i class="fa fa-greater-than"></i><i class="fa fa-greater-than"></i>',
                    },
                    "processing": '<i class="fa fa-spinner fa-spin fa-3x fa-fw"></i><span class="sr-only">Loading...</span>'
                     
                  },
                "columns": [  
                    { "data": "Id", "name": "Id", "autoWidth": true },  
                    {
                        "render": function(data, type, full, meta) { return '<a  href="@Url.Action("Details","Book")/' + full.Id + '">'+full.Name+'</a>'; }  
                    },  
                    { "data": "CreationDate", "name": "CreationDate", "autoWidth": true },  
                    {  
                        "render": function(data, type, full, meta) { return '<a class="btn btn-info" href="@Url.Action("Edit","Book")/' + full.Id + '">Edit</a>'; }  
                    },  
                    {  
                        data: null,  
                        render: function(data, type, row) {  
                            return "<a href='#' class='btn btn-danger' onclick=DeleteData('" + row.Id + "'); >Delete</a>";  
                        }  
                    },  
                ]  
      
            });  
        });  
      
      
    function DeleteData(CustomerID) {  
        ConfirmDialog("Are you sure you want to delete item?").done(function() {
            Delete(CustomerID);
        }).fail(function() {
            // the pressed Cancel
        });
      
    }  
      
      
    function Delete(Id) {  
        var url = '@Url.Action("Delete", "Book")';  
        var token = '@Html.AntiForgeryToken()'
        $.post(url, { id: Id ,__RequestVerificationToken:$(token).val()}, function(data) {  
            if (data) {  
                oTable = $('#booksDT').DataTable();  
                oTable.draw();  
            } else {  
                alert("Something Went Wrong!");  
            }  
        });  
    }  
      
    </script>
}
