@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
<!DOCTYPE html>
<html lang="en-US">
<head>
    <partial name="_PageHeadElement"/>
        
    @RenderSection("Styles", required: false)
    @RenderSection("HeadScripts", required: false)
</head>
<body>
<partial name="_GoogleTagManagerBodyElement"/>

<div class="main-content">
    <header class="tm-site-header">
        <h1 class="tm-site-name"><img src="~/img/brand/White.png" style="max-height: 2.5rem;" alt="OBS"></h1>
        <p class="tm-site-description">Online Book Store</p>

        <nav class="navbar navbar-expand-md tm-main-nav-container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#tmMainNav" aria-controls="tmMainNav" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>

            <div class="collapse navbar-collapse tm-main-nav" id="tmMainNav">
                <ul class="nav nav-fill tm-main-nav-ul">
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")"><i class="fa fa-home"></i> Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Cart")"><i class="fa fa-shopping-cart"></i> Cart</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Order")"><i class="fa fa-receipt"></i> My Orders</a>
                    </li>
                    <li class="nav-item dropdown">
                            <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="media align-items-center">
                                    @* <span class="avatar avatar-sm rounded-circle"> *@
                                    @*     <img alt="Image placeholder" src="~/img/theme/user.png"> *@
                                    @* </span> *@
                                    <div class="media-body ml-2 d-none d-lg-block">
                                        <span class="mb-0 text-sm font-weight-bold">
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                <i class="fa fa-lock"></i> @User.GetFullNameOrEmail()
                                            }
                                            else
                                            {
                                                <span><i class="fa fa-lock-open"></i> Login / Register</span>
                                            }
                                        </span>
                                    </div>
                                </div>
                            </a>
                       <partial name="_Dropdown" />
                    </li>
                </ul>
            </div>
        </nav>

    </header>
    @* <partial name="Topnav/_Topnav"/> *@

    <!-- Page content -->
    <div style="text-align: center; vertical-align: middle; font-family: Verdana; color: Blue; position: absolute;z-index: 1000;height: 100%;width: 100%;   font-size: small;background-color: white" id="dvProgress" runat="server">
        <img src="~/img/theme/loading-buffering.gif" style="vertical-align: middle;horiz-align: center;width: 50px;height: 50px;top: 50%; left: 50%;" alt="Processing"/>
    </div>
    @RenderBody()

    <!--swiper slider-->
    <div class="swiper-container sliderr">
        <div class="swiper-wrapper">
            <!--slide 1-------------------------------------->

        </div>
    </div>
    <!--swiper  slider end-->
    <partial name="_Footer"/>
</div>

<partial name="_ThemeScripts"/>
@RenderSection("Scripts", required: false)
<script>
        
            $("#body").ready(function (){
                $("div[id$=dvProgress]").fadeOut("fast");
                  $.ajax("@Url.Action("GetBooks","Book")?random=true&length=30",{
                              
                                type: "GET",
                                contentType: "application/json; charset=utf-8",
                                dataType: "json",
                                success: function (data) {
                        //           alert(JSON.stringify(data));
                                  var list = "";
                                  var detailUrl = '@Url.Action("Details","Book")?bookId=';
                                  for (i = 0 ; i < data.data.length; i++) {
                                      list += `
                                      <div class="swiper-slide">
                                            <div class="slider-box">
                                      <p class="time">New</p>
                                      <a href="`+detailUrl+data.data[i].Id+`"><div class="img-box">
                                      <img src="`+data.data[i].ImageUrl+`">
                                      </div></a>
                                      <div class="detail">`+data.data[i].Title.substring(0,25)+`</div>
                                      <p  class="price">`+data.data[i].Price+`$</p>
                                      </p>
                                      <div class="cart">
                                      <button onclick="AddToCart(this,`+data.data[i].Id+`)">Add To Cart</button>
                                      </div>
                                      </div>
                                            
                                            </div>
                        
                                      `; //todo put add to cart and detail links
                                              }
                                 $('.swiper-wrapper').empty().append(list);
                                  var swiper = new Swiper('.swiper-container', {
                                        slidesPerView: 5.2,
                                        spaceBetween: 30,
                                        pagination: {
                                          el: '.swiper-pagination',
                                          clickable: true,
                                        },
                                         autoplay: {
                                          delay: 2500,
                                          disableOnInteraction: true,
                                        },
                                        navigation: {
                                           nextEl: ".swiper-button-next",
                                           prevEl: ".swiper-button-prev",
                                         },
                                       
                                      });
                                  },
                                  error: function (jqXhr, textStatus, errorMessage){alert('Error: ' + errorMessage);}
                                  });
                        });
                         function AddToCart(e,bookId){
                                e.innerText = "Adding..";
                               $.ajax("@Url.Action("AddToCart","Cart")/?bookId="+bookId,{
                                             type: "GET",
                                             success: function (data) {
                                                  e.innerText = "Added";                                              
                                             },
                                             error: function (jqXhr, textStatus, errorMessage){
                                                 if(jqXhr.status === 401)
                                                      window.location = '@Url.Page("/Account/login",new{area = "Identity"})';
                                                 else
                                                     alert('Error: ' + jqXhr.status + errorMessage);
                                             }
                               });
                         }
</script>
</body>
</html>
