@model List<Order>

@{
    ViewBag.Title = "Orders";
    Layout = "_Layout";
}
<div class="tm-main-content  shopping">
    @foreach(var order in Model)
    {
        <div class="container card ">
            <div class="title ">
                <div class="row ">
                    <div class="col ">
                        <h4>
                            <b>Order #@order.Id On @order.CreationDate</b>
                        </h4>
                    </div>
                    <div class="col  align-self-center text-right text-muted">@order.CartItems.Count() items</div>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-8 cart ">

                    @foreach (var cartItem in order.CartItems)
                    {
                        <div class="row  border-bottom">
                            <div class="row  main  align-items-center">
                                <div class="col-2 ">
                                    <img class="img-fluid " src="@cartItem.Book.ImageUrl" alt="book">
                                </div>
                                <div class="col ">
                                    <div class="row  text-muted">@cartItem.Book.Title</div>
                                    <div class="row  ">@cartItem.Book.Author</div>

                                </div>
                                <div class="col ">$ @cartItem.Price.ToString("F") <span class="close ">&#10005;</span></div>
                            </div>
                        </div>
                    }

                </div>
                <div class="col-md-4 summary ">
                    <div>
                        <h5 class="">
                            <b>Summary</b>
                        </h5>
                    </div>
                    <hr class="">
                    <div class="row ">
                        <div class="col " style="padding-left:0;">ITEMS </div>
                        <div class="col  text-right">@order.CartItems.Count()</div>
                    </div>
                    <div class="row " style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col ">TOTAL PRICE</div>
                        <div class="col  text-right">$ @order.CartItems.Sum(c => c.Price).ToString("F")</div>
                    </div> 
                    <div class="row " style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col ">PAYMENT STATUS</div>
                        <div class="col  text-right">@(order.PaymentReferenceNo!=null?"Paid":"Not Paid")</div>
                    </div>  
                    <div class="row " style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                        <div class="col ">SHIPPING STATUS</div>
                        <div class="col  text-right">@(order.IsProcessed?"Shipping":"Pending Approval")</div>
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
    }
</div>
