@model Order
@{
    Layout = "_Layout";
    ViewData["Title"] = "Profile";
}
@section Styles
{
    <style>
      table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
      }
      
      tr:nth-child(even) {
        background-color: #dddddd;
      }
    </style>
}
<div class="row">
    <div  class="col-md-12">
        <div class="card">
            <form asp-area="Admin" asp-controller="Order" asp-action="Details" method="POST">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-12">
                            <h3 class="mb-0">Order Details </h3>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="heading-small text-muted mb-4">
                        Order Details
                    </h6>
                    <div class="pl-lg-4">
                        @* Update was ok *@
                        @if (!string.IsNullOrWhiteSpace(TempData["StatusMessage"] as string))
                        {
                            <!-- everything went ok -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div role="alert" class="alert alert-success alert-dismissible fade show">
                                        @TempData["StatusMessage"]
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                        @* Update has errors *@
                        @if (!ViewData.ModelState.IsValid && ViewData.ModelState[string.Empty] != null)
                        {
                            <!-- errors -->
                            @foreach (var error in @ViewData.ModelState[string.Empty]?.Errors)
                            {
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div role="alert" class="alert alert-warning alert-dismissible fade show">
                                            <span>@error.ErrorMessage</span>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">×</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                        <div class="row">
                            @Html.AntiForgeryToken()
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-ClientName">Client Name</label>
                                    <input asp-for="Client.ApplicationUser.FullName" type="text" id="input-ClientName" class="form-control" placeholder="Client Name" >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-ClientAddress">Client Address</label>
                                    <input asp-for="Client.ApplicationUser.Address" type="text" id="input-ClientAddress" class="form-control" placeholder="Client Address" >
                                </div>
                            </div> 
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-ClientPhone">Client Phone</label>
                                    <input asp-for="Client.ApplicationUser.PhoneNumber" type="text" id="input-ClientPhone" class="form-control" placeholder="Client Phone" >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-IsProcessed">Is Processed</label>
                                    <span  type="checkbox" id="input-IsProcessed" class="form-control"  >@(Model.IsProcessed?"Yes":"No")</span>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-Total">Total</label>
                                    <input asp-for="Total" type="number" id="input-Total" class="form-control" placeholder="Total" >
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group">
                                    <label class="form-control-label" for="input-PaymentReferenceNo">Payment Reference No</label>
                                    <input asp-for="PaymentReferenceNo" type="number" id="input-PaymentReferenceNo" class="form-control" placeholder="Not Payed" >
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="form-control-label" for="bookTable">Books</label>
                                <table id="bookTable">
                                    <tr>
                                        <th>Title</th>
                                        <th>CopyNumber</th>
                                        <th>ISBN</th>
                                        <th>Price</th>
                                    </tr>
                                    @foreach (var cartItem in Model.CartItems)
                                    {
                                        <tr>
                                            <td>@cartItem.Book.Title</td>
                                            <td>@cartItem.Book.CopyNumber</td>
                                            <td>@cartItem.Book.ISBN</td>
                                            <td>@cartItem.Price</td>
                                        </tr>
                                    }
                                </table>
                            </div>
                            @Html.HiddenFor(o => o.Id)
                            @Html.HiddenFor(o => o.CreationDate)
                        </div>

                    </div>
                    <hr class="my-4"/>
                </div>
                <div class="card-footer">
                    <div class="row align-items-center">
                        <div class="col-12 text-center">
                            @* @if (!ViewBag.IsDetail) *@
                            @* { *@
                            @* <input type="submit" class="btn btn-md btn-primary" value="Save"> *@
                            @*      *@
                            @* *@
                            @* } *@
                            @* else *@
                            @* { *@
                            <a href='#' class="btn btn-md btn-secondary" onclick="ToggleProcessed(@Model.Id)" >@(Model.IsProcessed?"Set Not Processed":"Set Processed")</a>
                            @* <a href="@Url.Action("Edit", "Order",new { area = "Admin" })/@Model.Id" class="btn btn-md btn-secondary"> *@
                            @*     Edit Details *@
                            @* </a> *@
                            @* } *@
                            <a href="@Url.Action("Index", "Order",new { area = "Admin" })" class="btn btn-md btn-secondary">
                                Back
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div></div >
</div>
@section Scripts
{
    <script>
    $(document).ready(function (){
            if("@ViewBag.IsDetail" === "True")
                $("input").prop("readonly",true);     
            $("#btn-new").prop("hidden",true);
        });

    function ToggleProcessed(CustomerID) {  
        ConfirmDialog("Are you sure you want to set item as @(Model.IsProcessed?"not ":"")processed?").done(function() {
            ToggleProcessedf(CustomerID);
        }).fail(function() {
            // the pressed Cancel
        });
      
    }  
      
    function ToggleProcessedf(Id) {  
        var url = '@Url.Action("ToggleProcessed", "Order", new { area = "Admin" })';  
        var token = '@Html.AntiForgeryToken()'
        $.post(url, { id: Id ,__RequestVerificationToken:$(token).val()}, function(data) {  
            if (data) {  
              location.reload();
            } else {  
                alert("Something Went Wrong!");  
            }  
        });  
    }  
    </script>
}
